<div class="footer" id="footer">
    <h2>About Us</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet in id praesentium ipsa placeat fugit autem! Neque dolore, veniam corrupti optio atque officiis impedit dolorem consequatur quis saepe asperiores at ad nemo aspernatur mollitia? Nisi distinctio explicabo neque necessitatibus deserunt. Aspernatur harum soluta magni et veritatis reiciendis fugit iste repudiandae.</p>
    <h2>Thank You for visiting the site,</h2>
    <h3>created by Shwet , Anuj and Divyanshu</h3>
</div>
</body>
</html>