#Header{
    background-image: linear-gradient(to left, #FFE15D, #B01E68);
    height: 60px;
    padding: auto 40px;
    position: fixed;
    width: 99%;
}
#topcontent{
    text-align: end;
}
*{
    box-sizing:border-box;
}
html{
    height: 100%;
}

.container {
    /* background-image: url(https://img.freepik.com/free-/black-abstract-background-design_361591-1477.jpg?w=1800&t=st=1669398159~exp=1669398759~hmac=4a8abbd6da116d08a389bbf518f3562608b051926812b8cc18e99b71e59d166b); */
    padding: 5px 20px 15px 20px;
    border: 2px solid rgb(17, 17, 17);
    border-radius: 20px;
    background-size: contain;
    color: rgb(43, 20, 8);
    justify-content: center;
    margin-top: 70px;
    background-image: linear-gradient(to right, rgb(108, 108, 236), pink) ;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid rgb(240, 138, 138) ;
    border-radius: 5px;
}
.imagecontainer{
    background: url("bgimage4.jpg");
    height: 100%;
    width: 100%;
    background-size:contain;
    justify-content: center;
    background-color: #0D4C92;
    background-image: url(https://img.freepik.com/free-vector/alone-concept-illustration_114360-2393.jpg?w=1800&t=st=1669397895~exp=1669398495~hmac=63a26f23cd3a44081cbacace42901fb589a968a9775338962ec5642e1f8e0f7a);
}
.WDchllng{
    text-align: left;
    width: 40%;
    margin: 10px 10px ;
    padding: 10px;
    display: grid;
    justify-content: center;

}
input[type="submit"]{
    background-color: rgb(142, 228, 180);
    color: rgb(12, 13, 15);
    padding: 12px 20px;
    font-size: 15px;
    cursor: pointer;
    width: 50%;
    background-image: linear-gradient(to bottom right, rgb(219, 57, 57), yellow);
    border-radius: 30px;
}
input[type="submit"]:hover{
    background-image: linear-gradient(to left, yellow, rgb(219, 57, 57)  );
}
.Basics {
    padding: 5px 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px #999;
  }

  .Basics:hover {background-color: #3e8e41}

  .Basics:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .footer{
      background-image: url(https://img.freepik.com/free-photo/pink-watercolor-background-abstract-desktop-wallpaper_53876-138984.jpg?w=1800&t=st=1669395296~exp=1669395896~hmac=1a200f8863ad823a063d473fdf656d83cb437dda92f92ba89f732dafeb3e7641);
      background-color: #59C1BD;
  }
#HomeButton{

    text-align: center;
    background-color: black;
    color: white;
}